@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Fira+Sans+Extra+Condensed:ital,wght@1,700&family=Philosopher:wght@700&display=swap");

body {
    margin: 0;
    font-family: "Noto sans TC", sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    color: #333;
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper_content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .wrapper_content {
        max-width: auto;
    }
}

header,
.section_primary,
footer {
    background-color: #b0c4de;
}

.header_content {
    background-color: #b0c4de;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Fisra Sans Extra Condensed", sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #000;
    text-decoration: underline;
}

.link_text {
    letter-spacing: 3px;
}

.link_text:hover {
    transition: all 0.2s;
    color: #ffb500;
}

@media screen and (max-width:767px) {
    .header_content {
        transition: background-color 0.2s;
    }

    .wrapper_hamburger {
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .cross_button {
        width: 30px;
        height: 3px;
        background-color: #333;
        transition: all 0.2s;
    }

    .header_nav {
        display: none;
    }

    .header_content_active {
        background-color: #4682b4;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
    }

    .header_content_active .header_nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20vh;
    }

    .header_content_active .logo {
        color: #FFFFFF;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .header_content_active .link_text {
        font-size: 36px;
        margin-bottom: 50px;
        color: #FFFFFF;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .header_content_active .wrapper_hamburger {
        height: 30px;
        justify-content: center;
    }

    .header_content_active .cross_button {
        background-color: #FFFFFF;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .header_content_active .cross_button_top {
        transform: rotate(45deg) translateY(2px);
    }

    .header_content_active .cross_button_buttom {
        transform: rotate(-45deg) translateY(-2px);
    }
}

/* primary */

.primary_content {
    background-color: #b0c4de;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.wrapper_primary_text {
    width: 60%;
}

.section_title {
    font-family: "Philosopher";
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    line-height: 1.2;
}

.primary_title {
    font-size: 50px;
    margin-bottom: 20px;
}

.primary_title>span {
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.primary_text {
    margin-bottom: 25px;
    /* text-align: justify; */
    padding-right: 30px;
}

.primary_social {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary_main_img {
    width: 60%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:767px) {
    .primary_content {
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 70px;
    }

    .wrapper_primary_text {
        width: 90%;
    }

    .primary_title {
        font-size: 48px;
    }

    .primary_main_img {
        width: 80%;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

/* about */

.secondary_content {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary_title {
    font-size: 36px;
    margin-bottom: 50px;
}

.wrapper_about {
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
}

.about_img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    /* margin-top: 40px; */
    width: 40%;
    height: auto;
}

.wrapper_about_text {
    width: 50%;
}

.about_title {
    font-weight: bold;
    margin-top: 10px;
}

.about_list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin: 5px 0;
    padding-bottom: 10px;
}

.about_list_item {
    margin: 2px 60px 2px 0;
}

.link_button {
    display: inline-block;
    background-color: #000;
    border-radius: 3px;
    padding: 10px 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.link_button:hover {
    transition: all 0.2s;
    background-color: #ffb500;
}

.about_link_button {
    margin-top: 20px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .wrapper_about {
        max-width: 820px;
        width: 95%;
    }
}

@media screen and (max-width:767px) {
    .wrapper_about {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .wrapper_about_text {
        width: 80%;
        margin-top: 50px;
    }
}

/* film */
.film_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.film_account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.film_account_link {
    font-weight: bold;
    margin-top: 5px;
    text-decoration: underline;
    letter-spacing: 1px;
}

.wrapper_all_film {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.film_img {
    width: 90%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-content: center;
}

.film_title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
}

.film_note {
    color: #777;
    height: 46px;
    margin-bottom: 20px;
}

.film_link_button {
    margin-bottom: 20px;
}

.film_link {
    font-weight: bold;
    margin-top: 5px;
    text-decoration: underline;
    letter-spacing: 2px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .film_introduction {
        margin-left: 40px;
        margin-right: 40px;
    }

    .wrapper_all_film {
        width: 700px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .wrapper_film {
        display: flex;
        margin-bottom: 50px;
    }

    .film_img {
        width: 60%;
        height: auto;
    }

    .wrapper_film_text {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
    }

    .film_title {
        height: auto;
        margin-top: 0;
    }
}

@media screen and (max-width:767px) {
    .film_introduction {
        margin-left: 40px;
        margin-right: 40px;
    }

    .secondary_title {
        font-size: 28px;
    }

    .wrapper_all_film {
        width: 300px;
        flex-direction: column;
    }

    .film_img {
        width: 100%;
        height: auto;
    }

    .film_title {
        font-size: 20px;
        height: auto;
    }

    .wrapper_film {
        margin-bottom: 50px;
    }
}

/* footer */
footer {
    margin-top: 0px;
}

.footer_content {
    background-color: #b0c4de;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer_license {
    margin-top: 5px;
}

footer nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.footer_nav_list {
    display: flex;
    flex-direction: column;
}

.footer_nav_list_title {
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.footer_nav_list_text {
    margin-bottom: 10px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer_content {
        flex-direction: column;
        justify-content: flex-start;
        width: fit-content;
    }

    footer nav {
        margin-top: 30px;
    }
}

@media screen and (max-width:767px) {
    .footer_content {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    footer nav {
        width: 100%;
        margin-top: 30px;
        flex-direction: column;
    }

    .footer_nav_list {
        margin-top: 30px;
    }
}